<div class="card">
    <!--    New, Delete Bar-->
    <p-toolbar styleClass="container mb-1 gap-2">
        <ng-template pTemplate="left">
            <button pButton pRipple type="button" label="Products" icon="pi pi-shopping-bag"
                    class="mr-3 p-button-raised" [routerLink]="['/products']"></button>

            <button pButton pRipple type="button" label="Basket" icon="pi pi-shopping-cart"
                    class="mr-1 p-button-raised" [routerLink]="['/basket']"></button>
            <a class="nav-link mr-5" routerLink="/cart">
                <span class="badge bg-danger">{{cartCount$}}</span>
            </a>
            <button pButton pRipple type="button" label="Sign Out" icon="pi pi-sign-out"
                    class="mr-3 p-button-danger" (click)="signout()"></button>
        </ng-template>
    </p-toolbar>
</div>

<div class="container" *ngIf="product !== undefined">
    <img [src]="'https://primefaces.org/cdn/primeng/images/demo/product/' + product.image"
         [alt]="product.name" width="500" class="shadow-4"/>
    <div class="details">
        <div class="header">
            <span class="name">{{product.name}}</span>
        </div>
        <div class="explanation">
            <span class="card-text">Açıklama : {{product.description}}</span>
        </div>
        <div class="price">
            <span class="card-text">{{product.price | currency:'USD'}}</span>
        </div>
        <a class="btn btn-primary" (click)="addToCard(product)">Add Cart</a>
    </div>
</div>

<div class="container">

</div>

<app-comments currentUserId="1"></app-comments>
