<div class="card">
    <div style="text-align:center">
        <h5>Sign in</h5>
    </div>
    <div class="p-fluid">
        <div class="field">
            <label for="username">Username</label>
            <input pInputText id="username" type="text" [(ngModel)]="username"/>
        </div>
        <div class="field">
            <label for="password">Password</label>
            <input pInputText id="password" type="password" [(ngModel)]="password"/>
        </div>
        <button pButton label="Login" (click)="redirectUser()"></button>
    </div>
</div>

