<div class="card">
    <div style="text-align:center">
        <h5>Create Account</h5>
    </div>
    <div class="p-fluid">
        <form (ngSubmit)="onSubmit()">
            <br>
            <span class="p-float-label">
                    <input pInputText name="firstName" [(ngModel)]="firstname"/>
                    <label [htmlFor]="firstname">First Name</label>
           </span>
            <br>
            <span class="p-float-label">
                    <input pInputText name="lastName" [(ngModel)]="lastname"/>
                    <label [htmlFor]="lastname">Last Name</label>
           </span>
            <br>
            <span class="p-float-label">
                    <input pInputText name="email" [(ngModel)]="email"/>
                    <label [htmlFor]="email">Email</label>
           </span>
            <br>
            <span class="p-float-label">
                <p-password name="password" type="password" [(ngModel)]="password"
                            [toggleMask]="true"></p-password>
                <label [htmlFor]="password">Password</label>
            </span>
            <p></p>
            <button pButton label="Register" type="submit"></button>
        </form>
        <p-button label="Sign In" styleClass="p-button-link" [routerLink]="['/login']"></p-button>
    </div>
</div>
