.cart_section {
    padding: 40px 0;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    backgroung-color: #dddddd;
}
.card {
    position: inherit;
    margin: 2% 5% 0% 5%;
    /*top:50%;*/
    /*left: 50%;*/
    transform: translateX(0%) translateY(0%);
}
